:root {
    font-size: xx-large;
    font-family: system-ui, sans-serif;;
}

body {
    justify-content: center;
    align-items: center;
    display: flex;
}

#container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr auto 1fr;
    gap: 10px;
}

#header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    justify-self: center;
}

#game-board {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: .5em;
    padding: .5em;
}

#p1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#p1 > input,
#p2 > input {
    font-size: inherit;
    border: none;
    width: 4rem;
}

#p2 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    width: 150px;
}

#footer {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.cell {
    padding: .5rem;
    font-size: xx-large;
    height: 2rem;
    width: 2rem;
}